{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/register.js')}}"></script>
{% endblock %}

{% block body %}

<h1 align="center" style="color:white;">
    CSUF Chat Register
</h1>

{% if error is defined %}
<h3 align="center">{{error}}</h3>
{% endif %}

<div align="center">
    <form method="POST" id="register-form" action="{{ url('registerAction') }}">
        <span class="error-span" id="first-name-error">*First name is required</span>
        <input class="form-control" type="text" id="first-name-input" name="FirstName" placeholder="First Name"><br>
        <span class="error-span" id="last-name-error">*Last name is required</span>
        <input class="form-control" type="text" id="last-name-input" name="LastName" placeholder="Last Name"><br>

        <!--Email Text Box-->
        <span class="error-span" id="email-error">*Valid CSUF email required</span>
        <input class="form-control" type="text" id="email-input" name="Email" placeholder="email@csu.fullerton.edu"><br>
        
        <select class="form-control" name="Major" id="major-input">
            <option value="American Studies">American Studies</option>
            <option value="Anthropology">Anthropology</option>
            <option value="Art">Art</option>
            <option value="Biochemistry">Biochemistry</option>
            <option value="Biologial Science">Biologial Science</option>
            <option value="Business Administration">Business Administration</option>
            <option value="Chemistry">Chemistry</option>
            <option value="Child and Adolescent Development">Child and Adolescent Development</option>
            <option value="Civil Engineering">Civil Engineering</option>
            <option value="Communications">Communications</option>
            <option value="Communicative Disorders">Communicative Disorders</option>
            <option value="Comparative Literature">Comparative Literature</option>
            <option value="Computer Engineering">Computer Engineering</option>
            <option value="Computer Science">Computer Science</option>
            <option value="Criminal Justice">Criminal Justice</option>
            <option value="Dance">Dance</option>
            <option value="Economics">Economics</option>
            <option value="Electrical Engineering">Electrical Engineering</option>
            <option value="English">English</option>
            <option value="Ethnic Studies">Ethnic Studies</option>
            <option value="European Studies">European Studies</option>
            <option value="French">French</option>
            <option value="Geography">Geography</option>
            <option value="Geology">Geology</option>
            <option value="Health Science">Health Science</option>
            <option value="History">History</option>
            <option value="Human Services">Human Services</option>
            <option value="International Business">International Business</option>
            <option value="Japanese">Japanese</option>
            <option value="Kinesiology">Kinesiology</option>
            <option value="Latin American Studies">Latin American Studies</option>
            <option value="Liberal Studies">Liberal Studies</option>
            <option value="Linguistics">Linguistics</option>
            <option value="Mathematics">Mathematics</option>
            <option value="Mechanical Engineering">Mechanical Engineering</option>
            <option value="Music">Music</option>
            <option value="Nursing">Nursing</option>
            <option value="Philosophy">Philosophy</option>
            <option value="Physics">Physics</option>
            <option value="Political Science">Political Science</option>
            <option value="Psychology">Psychology</option>
            <option value="Public Administration">Public Admistration</option>
            <option value="Radio-TV-Film">Radio-TV-Film</option>
            <option value="Religious Studies">Religious Studies</option>
            <option value="Sociology">Sociology</option>
            <option value="Spanish">Spanish</option>
            <option value="Theatre Arts">Theatre Arts</option>
            <option value="Women's Studies">Women Studies</option>
        </select><br>
        <span class="error-span" id="password-error">*Please enter a password</span>
        <input class="form-control" type="password" id="password-input" name="Password" placeholder="Password"><br>
        <span class="error-span" id="password-match-error">*Must match password</span>
        <input class="form-control" type="password" id="password-match-input"} name="ConfirmPassword" placeholder="Confirm Password"><br>
        
        <button type="button" class="btn btn-md btn-success" onClick="registerButton()">Register</button>
    </form>
</div>
{% endblock %}